@model IEnumerable<Clinica_UPN_V4._3.Citum>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Citas</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Registrar Nueva Cita</a>
</p>
<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th>
                <span @Html.DisplayNameFor(model => model.NumCita)>N° Cita</span>
            </th>
            <th>
                <span @Html.DisplayNameFor(model => model.Fecha)>Fecha - Hora</span>
            </th>
            <th>
                <span @Html.DisplayNameFor(model => model.NumConsultorioNavigation)>Datos del Consultorio</span>
            </th>
            <th>
                <span @Html.DisplayNameFor(model => model.UsuarioMedicoNavigation)>Datos del Médico</span>
            </th>
            <th>
                <span @Html.DisplayNameFor(model => model.UsuarioPacienteNavigation)>Datos del Paciente</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumConsultorioNavigation.NumConsultorio)
                    -
                    @Html.DisplayFor(modelItem => item.NumConsultorioNavigation.EspConsultorio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioMedicoNavigation.NombreCompletoMedico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioPacienteNavigation.NombreCompleto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NumCita" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.NumCita" class="btn btn-warning">Ver Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.NumCita" class="btn btn-danger">Eliminar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
